{% extends "base.html" %}

{% block title %}
    Home
{% endblock title %}

{% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        <h1 class="cover-heading">Shorten URL</h1>
        <p>Shorten a url.</p>
        <form class="" action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p class="lead">
                <input type="submit" class="btn btn-default" value="SHORTEN">
            </p>
        </form>
    </div>
{% endblock content %}
